name: tubular
networks:
  sail:
    driver: bridge
    name: tubular_sail
services:
  redis:
    healthcheck:
      retries: 3
      test:
        - CMD
        - redis-cli
        - ping
      timeout: 5s
    image: redis:alpine
    networks:
      sail: null
    ports:
      - ${FORWARD_REDIS_PORT:-6379}:6379
    volumes:
      - source: tubular-redis
        target: /data
        type: volume
        volume: {}
  tubular:
    build:
      dockerfile: Dockerfile
    depends_on:
      redis:
        condition: service_started
        required: true
    environment:
      CALLBACK_BIND_ADDRESS: ""
      REDIS_DB: ${REDIS_DB:-0}
      REDIS_HOST: ${REDIS_HOST:-redis}
      REDIS_PASSWORD: ${REDIS_PASSWORD:-''}
      REDIS_PORT: ${REDIS_PORT:-6379}
      TUBULAR_CALLBACK_PORT: ${TUBULAR_CALLBACK_PORT:-9181}
      TUBULAR_CALLBACK_URL: ${TUBULAR_CALLBACK_URL:-}
      TUBULAR_HEARTBEAT_INTERVAL: ${TUBULAR_HEARTBEAT_INTERVAL:-30}
      TUBULAR_LOG_LEVEL: ${TUBULAR_LOG_LEVEL:-INFO}
      TUBULAR_WEBHOOK_URL: ${TUBULAR_WEBHOOK_URL:-http://streamdelta/webhooks/youtube}
      WEBHOOK_SECRET: ${TUBULAR_WEBHOOK_SECRET:-}
      YOUTUBE_API_KEY: ${YOUTUBE_API_KEY:-}
      YOUTUBE_CHANNEL_ID: ${YOUTUBE_CHANNEL_ID:-}
      YOUTUBE_POLL_INTERVAL: ${YOUTUBE_POLL_INTERVAL:-180}
    networks:
      sail: null
    ports:
      - ${TUBULAR_CALLBACK_PORT:-9181}:${TUBULAR_CALLBACK_PORT:-9181}
    restart: unless-stopped
volumes:
  tubular-redis:
    driver: local
    name: tubular_tubular-redis
